
{% extends 'flatpages/default.html' %}

{% load newsapp_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{{ post }}</h1>
    <h2><u>Свежие новости</u></h2>
<h3>{{ time_now|date:'d M Y' }}</h3>
    {% if news %}
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    ID
                </td>
            </tr>
        {% for news in news %}
            <tr>
                <td>
                    {{ news.name|censor }}
                </td>
                <td>
                    {{ news.description|truncatechars:50|censor }}
                </td>
                <td>
                    {{ news.author }}
                </td>
                <td>
                    {{ news.dateCreation }}
                </td>
                <td>
                    {{ news.id }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h3>Новостей нет!</h3>
    {% endif %}

{% endblock content %}