<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все статьи</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Автор
                </td>
            </tr>
        {% for news in news %}
            <tr>
                <td>
                    {{ news.name|censor }}
                </td>
                <td>
                    {{ news.description|truncatechars:20|censor }}
                </td>
                <td>
                    {{ news.author }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}
{% endblock content %}